* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  margin-block: 2rem;
  margin-inline: 15%;
  padding-inline: 25% - 10%;
  padding-block: 2rem;
  text-align: center;
  border-bottom: 1px solid #424242;
}

main {
  margin-inline: 25%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  padding-block: 2em;
}

h3 {
  font-size: 1.5rem;
  padding-block: 1rem;
}

ul {
  margin-inline: 3em;
  margin-block: 1rem;
}

img {
  max-width: 80%;
  margin-block: 1rem;
}

p {
  font-size: 1.1rem;
  max-width: 80ch;
  margin-block: 1em;
  line-height: 3ch;
}

footer {
  margin-block: 2em;
  margin-inline: 15%;
  padding-inline: 25% - 10%;
  padding-block: 2em;
  border-top: 1px solid #424242;
}

footer p {
  font-size: 1em;
  font-style: italic;
  padding-left: 15%;
}

@media (max-width: 612px) {
  main {
    margin-inline: 15%;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  img {
    max-width: 100%;
  }

  p {
    font-size: 1rem;
  }

  footer p {
    padding-left: 0;
  }
}
